.inputEditing {
  --background: var(--ion-color-light);
}

.signoutButton {
  padding: 0.4em;
  font-size: 0.8em;
  cursor: pointer;
  border: 1px solid var(--ion-color-primary);
  border-radius: 8px;
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  --background: none;
}

ion-item.addList {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-bottom: 20px;
}

.cardHeader {
  padding-left: 8px;
  display: flex;
}

.cardContent {
  padding: 0 20px 20px;
}

.dragging {
  background: var(--ion-color-primary);
  opacity: 0.5;
}
